.navbarr {
    position: fixed;
    background-color: #39D9FC;
    height: 100vh;
    width: 18%;
    display: flex;
    flex-direction: column;
    border-radius: 0 2rem 0 0;
    padding: 20px 0 20px 15px;
}

.navbar_items {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.navbar_item {
    padding: 5px 45px;
    width: 90%;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: none;
    border-radius: 2rem 0 0 2rem;
    line-height: 3rem;
    cursor: pointer;
    transition: ease 0.4s;
}

.selected {
    color: black;
}

.navbar_item_selected {
    padding: 5px 45px;
    width: 85%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background-color: none;
    border-radius: 2rem 0 0 2rem;
    line-height: 3rem;
    cursor: pointer;
    transition: ease 0.3s;
}

.title-navbar {
    font-size: 40px;
    font-family: 'Jk Adobe-light';
    font-weight: 400;
    line-height: 96px;
    margin: 0 35px;
}