.title {
    color: white;
    font-family: 'JK Adobe-light';
    font-weight: 400;
    font-size: 72px;
    line-height: 96px;
    margin: 0 25px;
}

.bg-default {
    background-color: #27262C;
    height: 100vh;
    width: 100vw;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



.content,
.form-register>form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.form-register {
    background-color: #D9D9D90F;
    max-width: 620px;
    width: 90vw;
    gap: 0px;
    border-radius: 0 30px 30px 30px;
    align-items: center;
    justify-content: end;
    height: auto;
}

.form-register>form>input {
    margin: 10px 24px;
    padding: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.login_buttons>input {
    margin: 15px 0;
}